@font-face {
  font-family: 'GothamBook';
  src: url('../static/fonts/gotham/Gotham-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../static/fonts/gotham/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
